
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400&family=Poppins:wght@700&family=Raleway:wght@400&display=swap");

/* CSS Variables */
:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --sub-font: 'Lora', serif;

    --primary-color: #1E3A5F; /* dark blue */
    --secondary-color: #3A506B; /* gray blue */
    --sub-color: #6C757D;
}

body {
    color: var(--primary-color);
}

h1 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
}

h2 {
    font-family: var(--secondary-font);
}
/*
#description {
    font-family: var(--sub-font);
}
*/
label {
    padding-bottom: .2rem;
}

select, select option {
    color: var(--primary-color) !important;
}

/* Adjust the distance between the lines of the summary */
p {
    margin-bottom: 0.2rem;
}
 /* Adjust the margin between the button and the first line of the summary */
#table-container p:first-child {
    margin-top: 1rem;
}

/* The table is hidden until the user click Calculate button */
#table {
    visibility: hidden;
}

/* Style Calculate button */
#btn {
    background-color: var(--primary-color);
    color: white; /* White Text */
    margin: 0 auto !important;
    border: 2px; /* No Border */
    padding: 8px 16px; /* Size */
    font-size: 18px; /* Text Size */
    border-radius: 8px; /* Rounded Corners */
    cursor: pointer; /* Pointer Cursor */
    transition: all 0.3s ease; /* Smooth Effect */
}

#btn:hover {
    background-color: var(--secondary-color)
}


/* Media queries */

/* X-Small devices (portrait phones, less than 360px) */
@media (max-width: 360px) {
    #table {
        font-size: 80%;
    }
}