/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400&family=Poppins:wght@700&family=Raleway:wght@400&display=swap");

/* CSS Variables */
:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    --primary-color: #f0f0f0; /* white */
    --background-color: #1c1c1c; /* black */
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);
}

h1 {
    color: #1abc9c; /* Teal */
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
}

h2 {
    color: #48c9b0; /* Light Teal */
    font-family: var(--secondary-font);
}

label {
    padding-bottom: .2rem;
}

input {
    color: var(--background-color) !important;
    background-color: var(--primary-color) !important;
}

select, select option {
    color: var(--background-color) !important;
    background-color: var(--primary-color) !important;
}

/* Adjust the distance between the lines of the summary */
p {
    margin-bottom: 0.2rem;
}

/* The table is hidden until the user click Calculate button */
#table {
    visibility: hidden;
}

th, td {
    background-color: var(--background-color) !important; 
    color: var(--primary-color) !important;
    padding: 10px !important;
    border: 1px solid var(--primary-color) !important;
}

/* Style Calculate button */
button {
    background-color: #48c9b0; /* Light Teal */
    color: var(--background-color);
    margin-bottom: 1rem;
    border: 2px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#btn:hover {
    background-color: #1abc9c; /* Teal */
}


/* Media queries */

/* X-Small devices (portrait phones, less than 360px) */
@media screen and (max-width: 400px) {
    
    body {
        font-size: 80%;
    }
    button, input, select, select option {
        font-size: 0.9rem !important;
    }
    h1, h2 {
        font-size: 200% !important;
    }
}